@import './colors.scss';

body {
	background-color: #000000;
	color: #ffffff;
	font-family: 'Rubik';
	margin: 0;
	padding: 0;
}

.section-title {
	font-size: 2em;
}

::-moz-selection {
  color: #000000;
  background: #ffbb00;
}

::selection {
  color: #000000;
  background: #ffbb00;
}

@font-face {
	font-family: 'Source Code Pro Medium';
	src: local('Source Code Pro Medium');
}

@font-face {
	font-family: 'Source Code Pro';
	src: local('Source Code Pro');
}

@font-face {
	font-family: 'Source Sans Pro';
	src: local('Source Sans Pro Regular');
}

@font-face {
	font-family: 'Inconsolata';
	src: local('Inconsolata');
}

@font-face {
	font-family: 'Rubik';
	src: url('/fonts/rubik/static/Rubik-Regular.ttf');
}

@font-face {
	font-family: 'Mulish';
	src: url('/fonts/mulish/static/Mulishcd-Regular.ttf');
}

@font-face {
	font-family: 'Ubuntu';
	src: url('/fonts/ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
	font-family: 'Noto Sans';
	src: url('/fonts/noto-sans/NotoSans-Regular.ttf');
}